---
- name: check 'volume' parameter
  assert:
    that:
      - "volume != ''"
    fail_msg: "parameter 'volume' incorrect or missing"

- name: check 'publish.web' parameter
  assert:
    that:
      - "publish.web != ''"
    fail_msg: "parameter 'publish.web' incorrect or missing"

- name: check 'publish.https' parameter
  assert:
    that:
      - "publish.https != ''"
    fail_msg: "parameter 'publish.https' incorrect or missing"

- name: check 'publish.interface' parameter
  assert:
    that:
      - "publish.interface != ''"
    fail_msg: "parameter 'publish.interface' incorrect or missing"

- name: check 'publish.url' parameter
  assert:
    that:
      - "publish.url != ''"
    fail_msg: "parameter 'publish.url' incorrect or missing"

- name: check 'users' parameter
  assert:
    that:
      - "users != ''"
      - "users | length != 0"
    fail_msg: "parameter 'users' is empty"

- name: check user structure in 'users' parameter
  assert:
    that:
      - "item.username != ''"
      - "item.password != ''"
    fail_msg: "item in the parameter 'users' is invalid"
  with_items: "{{users}}"
