---
- name: create account folder
  file:
    path: "{{ jitsi_volume }}/prosody/data/meet%2ejitsi/accounts"
    state: directory
    owner: '101'
    group: root
    mode: 0750

- name: register user
  include: register-user.yml
  with_items: "{{ jitsi_users }}"
