[Install]
WantedBy = multi-user.target

[Unit]
Description = {{jitsi_service_name}} service
After       = docker.service
Requires    = docker.service

[Service]
ExecStartPre=-{{docker_compose_executible}} --project-directory {{jitsi_docker_compose_working_directory}} \
                               --file {{jitsi_docker_compose_working_directory}}/{{jitsi_docker_compose_filename}} \
                               --project-name {{jitsi_service_name}} \
                               down --remove-orphans

ExecStartPre={{docker_compose_executible}} --project-directory {{jitsi_docker_compose_working_directory}} \
                            --file {{jitsi_docker_compose_working_directory}}/{{jitsi_docker_compose_filename}} \
                            --project-name {{jitsi_service_name}} \
                            pull

ExecStart={{docker_compose_executible}} --project-directory {{jitsi_docker_compose_working_directory}} \
                           --file {{jitsi_docker_compose_working_directory}}/{{jitsi_docker_compose_filename}} \
                           --project-name {{jitsi_service_name}} \
                           up

ExecStop=-{{docker_compose_executible}} --project-directory {{jitsi_docker_compose_working_directory}} \
                                            --file {{jitsi_docker_compose_working_directory}}/{{jitsi_docker_compose_filename}} \
                                            --project-name {{jitsi_service_name}} \
                                            down --remove-orphans

Restart = always
RestartSec = 60s
TimeoutSec=60
