---
name: Run tests

'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  molecule_test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"

      - name: test default scenario
        uses: borisskert/molecule-action@v20.12.20
        with:
          arguments: test

      - name: test 'all-parameters' scenario
        uses: borisskert/molecule-action@v20.12.20
        with:
          arguments: test -s all-parameters
